<nav>
  <%= link_to "PLay", new_path %>
</nav>

<div class = "container">
<h1>Welcome to the Longest Word Game </h1>
<img src="https://imgs.search.brave.com/1QxXvUsfMvTSs2WKBEcw5YHfGlYKQ-hRgGjJSXQgZfs/rs:fit:500:500:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2M1L2U1/LzJmL2M1ZTUyZjY4/ZDRlZTBlMWQ0MWYy/ZmMzMGVmOTZkNTIy/LmpwZw" alt="">
</div>
