// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  display: flex;
  flex-direction: column;
  border: 5px;

}

h1 {
  font-family: Georgia;
  color: blue;
}
